{
  "ConnectionStrings": {
    "DefaultConnection": "YourConnectionStringHere"
  },
  "JwtSettings": {
    "SecretKey": "my_super_long_very_secret_key_etc"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}